<!--add class=animate-show will enable animation-->
<span ng-repeat="filter in filters | sortAndFilterTags:limitFilters | filter:zerosFilter as filtered "
      class="checkbox-inline no_indent checkboxinline "
      analytics-on
      analytics-category="Options"
      analytics-event="filters click"
      analytics-label="{{filter.name}}"
      role="checkbox"
      aria-hidden="false"
      ng-checked="filter.selected"
      ng-show="expand || $index < limit"
      ng-click="filter.selected = !filter.selected;onFilterChanges()">
    <i class="item_checkbox" ng-class="filter.selected? ' fa fa-check-square-o ' : 'fa fa-square-o '"></i>
    <span class='item_name item_name_{{filter.name | slugify }}'>{{filter.name}}</span><span class='item_count'>({{(filter.count | number )}})</span>
</span>

<span class="checkboxinline no_indent checkboxinline" ng-show="filtered.length > limit ">
    <span  analytics-on
           analytics-category="Options"
           analytics-event="filters more_or_less"
           analytics-label="more" ng-click="expand=true" ng-show="!expand" class='item_name'> <i class="item_checkbox fa fa-plus-square-o"
                                                                         aria-hidden="true"></i> more </span>
    <span  analytics-on
           analytics-category="Options"
           analytics-event="filters more_or_less"
           analytics-label="less" ng-click="expand=false" ng-show="expand" class='item_name'> <i class="item_checkbox fa fa-minus-square-o"
                                                                         aria-hidden="true"></i> less</span>
</span>