<span class=dd-autosuggest-input
      ng-class="{'has-error': myForm._term.length>0 && myForm._term.length<config.minimum , 'has-success': myForm._term.length>=config.minimum}">
    <input type="text"
           ng-model="myForm._term"
           name="{{config.name}}"
           placeholder="{{config.placeholder}}"
           uib-tooltip="minimum {{config.minimum}} characters required"
           tooltip-append-to-body=true
           tooltip-enable="false"
           aria-label="{{config.placeholder}}"
           analytics-on
           analytics-category="Options"
           analytics-event="{{config.name}}"
           analytics-label="updated"
           uib-typeahead="name for name in getSuggestedName($viewValue)"
           typeahead-loading="_loadingTerms"
           typeahead-min-length="1"
           typeahead-editable="true"
           typeahead-on-select="filters = myForm._term"
           ng-blur="filters  = myForm._term"
           ng-keyup="$event.keyCode == 13 && (filters = myForm._term)"
           class="form-control">
     <span ng-show="_loadingTerms" class="glyphicon glyphicon-refresh form-control-feedback glyphicon-spin"
           style="right: 18px;"></span>
    <span ng-show="myForm._term "
          class="glyphicon glyphicon-remove form-control-feedback clean-btn"
          ng-click="filters='';myForm._term='';onFilterChanges()"
          aria-label="Clear"></span>
    <span ng-show="myForm._term.length>0 && myForm._term.length < config.minimum" class="has-error form-control-feedback-msg-inline"  style="padding-left:170px; text-align: right;">  minimum {{config.minimum}} characters required</span>
</span>


