<div class="ngram">
    <div class="dd-searchbar"
         ng-class="{'has-error': query.matching && !hasValidInput() , 'has-success': query.matching && hasValidInput()}">
        <span class="input-group">
            <input aria-label="searchbox"
                   type="text"
                   class="form-control"
                   ng-model="query.matching"
                   placeholder="{{::placeholder}}"
                   uib-tooltip="{{::placeholder}}"
                   tooltip-append-to-body=true
                   tooltip-enable="false"
                   aria-label="{{::placeholder}}"
                   analytics-on
                   analytics-category="Options"
                   analytics-event="searchbox"
                   analytics-label="searchbox"
                   ng-keyup="($event.keyCode == 13 || query.matching=='')  && onSearch()">
              <span ng-show="query.matching"
                    class="glyphicon glyphicon-remove form-control-feedback clean-btn"
                    aria-label="start over the search"
                    ng-click="onStartOver()"></span>
              <span class="input-group-btn">
            <span class="btn btn-primary"
                    analytics-on
                    analytics-event="Search"
                    analytics-category="Commands"
                    analytics-label="Search Button"
                    ng-disabled="!hasValidInput()"
                    style="border-bottom-left-radius:0;border-top-left-radius:0;"
                    ng-click="onSearch()" disabled><i class="fa fa-search"></i> Search
                </span>
            </span>

        </span>
    </div>
</div>
